<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="accountList" class="row">

    <div class="col-md-4">
      <div class="card md-3">
        <div class="card-body">
          <h4 class="card-title">John</h4>
          <p class="card-subtitle text-muted">SuperAdmin</p>
          <p class="lead">Username: John</p>
          <p class="lead">Password: john</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Emma</h4>
          <p class="card-subtitle text-muted">Employees Admin</p>
          <p class="lead">Username: emma</p>
          <p class="lead">Password: emma</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">William</h4>
          <p class="card-subtitle text-muted">DEPARTMENTS_CREATE, DEPARTMENTS_READ, DEPARTMENTS_PAG_VIEW</p>
          <p class="lead">Username: william</p>
          <p class="lead">Password: william</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Lucas</h4>
          <p class="card-subtitle text-muted">CUSTOMER_READ,CUSTOMER-CREATE</p>
          <p class="lead">Username: lucas</p>
          <p class="lead">Password: lucas</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body">
          <h4 class="card-title">Tom</h4>
          <p class="card-subtitle text-muted">No ROLES</p>
          <p class="lead">Username: tom</p>
          <p class="lead">Password: tom</p>
        </div>
      </div>
    </div>

  </div>
</body>
</html>