<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<table th:fragment="depTable" class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Id</th>
    <th>Code</th>
    <th>Name</th>
    <th>Country</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="dep : ${departments}">
    <td th:text="${dep.id}"></td>
    <td th:text="${dep.code}"></td>
    <td th:text="${dep.name}"></td>
    <td th:text="${dep.country}"></td>
    <td><a th:href="@{'/departments/departments/delete?id=' + ${dep.id}}" class="btn btn-outline-danger">Delete</a></td>
  </tr>
  </tbody>
</table>

</body>
</html>